{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-success">
          <h2 style="text-align:center;">
              <div style="font-variant: small-caps;"><b>CONFERMA EMAIL</b></div>
        </h2>
      </div>
  </div>
</div>
<br>
<div class="container">
    <b>
        <p>Per poter utilizzare l'account conferma l'indirizzo
        e-mail al seguente indirizzo <a href="https://mailtrap.io/">mail trap</a>
        </p>
    </b>

</div>
{% endblock %}
