{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-success">
          <h2 style="text-align:center;">
              <b>
              <div style="font-variant: small-caps;">PASSWORD RESET
              </b>
              </div> 
        </h2>
      </div>
  </div>
</div>  
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <p>Ti abbiamo inviato via mail le istruzioni per il cambio password!</p>
        <p>Visita la tua casella di posta e segui il link allegato per procedere.</p>
    </div>
</div> 
{% endblock content %}
