{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-success">
          <h2 style="text-align:center;">
              <b>
              <div style="font-variant: small-caps;">INVIO EMAIL
              </b>
              </div> 
        </h2>
      </div>
  </div>
</div>  
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
      <br>
      <h1>Inserisci la tua mail:</h1>
      <br>
      <form method="post"  novalidate>
          {% csrf_token %}
          {% if form.email.errors %}
              {{ form.email.errors }}
          {% endif %}
              <p>{{ form.email|as_crispy_field }}</p>
          <br>
          <input type="submit" class="btn btn-primary" value="Reset" />
      </form>
    </div>
</div> 
{% endblock %}
